* {
    font-family: 'Lexend Deca';
    color: #063C53;
}

/*         *********** PAGINA PRINCIPAL ***********         */


.ventajas{
    max-width: 100%;
}

.clientes{
    max-width: 100%;
}

.informacion{
    max-width: 100%;
}

.legalidad{
    padding: 50px 0;
}

.sedes_nacionales{
    max-width: 100%;
}

.whatsapp {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #22673A;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    border-radius: 50%;
    animation: blink 1s ease-in-out infinite;
  }

@keyframes blink {
    50% {
     opacity: 0.5;
    }
}
.whatsapp:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: #25d366;
}

.logo img {
    opacity: 1;
    max-width: 100%;
    height: 90px;
    background-color: #FFFFFF
  }


.social_media {
    color: #063C53;
    display: flex;
    justify-content: end;
    gap: 20px; /* ajusta el valor según el espacio que desees */
}

.social_media ion-icon {
    font-size: 2em;
  }
  

html {
    max-width: 100%;
    height: auto;
    background: transparent linear-gradient(247deg, #E6ECEF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.title_service {    
    /* UI Properties */
    font-size: 4.8rem;
    font-weight: 900;
    text-align: left;
    /*font: normal normal bold 105px/150px Lexend Deca;*/
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
}

p {
    font-size: 2rem;
}

.menu {
    display: grid;
    grid-template-columns: 12vw 60vw 8vw 10vw;
    align-items: center;
    justify-content: left;
    opacity: 1;
}


.menu_items {
    list-style-type: none;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-decoration: none;
}   

.menu_items li a{
    text-decoration: none;
}
.shaded{
    opacity: 0.47;
}
  
.main_content {
    /* UI Properties */
    opacity: 1;
    display: grid;
    grid-template-columns: 5vw 90vw 0vw;
    align-items: center;
}

.slider_image{
    width: auto;
    background: transparent url('img/1.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: darken;
    opacity: 1;
    position: relative;
}

.slider_img {
    height: 500px;
    width: 100%;
    position: relative;
    z-index: -1;
    
}

.left_arrow{
        /* UI Properties */
    border: 5px solid #E6F1E9;
    color: #E6F1E9;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 71px;
    height: 96px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
}

.right_arrow{
    border: 5px solid #E6F1E9;
    color: #E6F1E9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 71px;
    height: 96px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
}

.slider_content {
    background-color: #FAFAFA;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: 40% 60%; 
    padding: 1.8rem 4rem;
    box-sizing: border-box;
    position: relative;
    height: 700px; /* ESTILO A CAMBIAR DEPENDIENDO DE LA PANTALLA*/
}

.slider_content_app {
    background-color: #FAFAFA;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: 70% 30%; 
    padding: 1.8rem 4rem;
    box-sizing: border-box;
    position: relative;
    height: auto; /* ESTILO A CAMBIAR DEPENDIENDO DE LA PANTALLA*/
}

.slider_description {
    padding: 0%;
    overflow: hidden;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr; /* establecemos una sola columna para la descripción */
    position: relative;
    z-index: 1;
}

.slider_title {
    margin-top: -80px;
    width: fit-content;
}

.primary_button{
    color: #FAFAFA;
    margin: 1rem 3rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: fit-content;
    height: fit-content;
    /* UI Properties */
    border: none;
    background: transparent linear-gradient(97deg, #156588 0%, #22673A 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #88D0DA96;
    border-radius: 34px;
    opacity: 1;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

.primary_button:hover{
    background: transparent linear-gradient(97deg, #2966b1 0%, #174517 100%) 0% 0% no-repeat padding-box;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 15px #32CD3296;
}


.line_gradient{
    display: contents;
    justify-items: end;
    position: relative;
    top: -5rem;
}

.line_gradient_separation {
    width: 68px;
    height: 5px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: transparent linear-gradient(295deg, #056CD800 0%, #056CD8 15%, #43A09A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 19px #2287F1;
    opacity: 1;
}

.servicios_description{
    max-width: 500px;    
    overflow: hidden;
    list-style-type: none;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 25px/31px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
}

.servicios_description{
    overflow: hidden;
    list-style-type: none;
    text-align: left;
    font: normal normal 300 25px/31px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
    text-indent: -20px;
}

.servicios_description li{
    font-size: large;
    text-align: left;
    padding: 0;
    margin: 0;
}


.advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    background: #054965 0% 0% no-repeat padding-box;
  }
  
  .advantages_title{
    text-align: left;
    align-items: center;
    justify-content: center;
    font: normal normal 600 35px/20px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .advantages_subtitle{
    /* UI Properties */
    text-align: left;
    font: normal normal 300 25px/20px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .icon{
    color: #063C53;
    width: 49px;
    height: 2.2rem;
    opacity: 1;
    transform: translateX(-5rem);
}

  .group-inverted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    height: 100px; /* ajusta la altura según el contenido */
    opacity: 1;
  }
  
.nuestros_clientes{
    max-width: 100%;
}

.empresas-aliadas{
    max-width: 100%;
    height: 128px;
    /* UI Properties */
    opacity: 1;
}

.img-empresa{
    height: 104px; 
    width: 278px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slide-container {
    display: flex;
    width: calc(1120px * 2); /* duplicar el ancho de las imágenes */
    animation: slide 40s linear infinite;
}

.slide {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1120px); /* mover el carrusel hacia la izquierda */
    }
    50.01% {
        transform: translateX(1120px); /* mover el carrusel hacia la derecha */
    }
    100% {
        transform: translateX(0);
    }
}


.informacion-de-interes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: auto;
    height: 400px;
    /* UI Properties */
    background: #134A26 0% 0% no-repeat padding-box;
    opacity: 1;
}

.text-info-empresa{
    /* Layout Properties */
    width: 478px;
    height: auto;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 18px/28px Lexend Deca;
    letter-spacing: 0px;
    color: #F5F5F7;
    opacity: 1;
    align-items: center;
}
.info_title{
    width: 229px;
    height: 23px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/18px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF; 
}
.info-box{
    width: 177px;
    height: 23px;
    text-align: left;
    font: normal normal bold 18px/18px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.Legality_seals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.seal_img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
.Legality_seals img{
    mix-blend-mode: darken;
    opacity: 1;
    height: 100px;
}

.rights_reserved{
    text-align: center; 
    margin-bottom: 20px; 
    max-width: 100%;
    height: 63px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_rights{
    text-align: center;
    font: normal normal medium 18px/28px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1; 
}

/*         *********** PAGINA DE TURISMO ***********         */

.parragraph-tourism{
    width: 400px;
    height: 266px;
    text-align: left;
    font: normal normal 300 30px/38px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
    transform: translateY(-60px);
}

/*         *********** PAGINA NOSOTROS ***********         */


.nosotros_content_box{
    right: 50%;
}

.left-side{
    float: left;
}

.right-side{
    float: right;
}
.zones{
    font-size: x-large;
}

.zoneBox1{
    max-width: 100%;
    opacity: 1;
}

.zoneContent{
    height: auto;
    /* UI Properties */
    opacity: 1;
    overflow: scroll;
}

.unfold{
    font-size: 40px;
    transform: translateX(-30px);
}



.location-icon{
    width: 37px;
    height: 35px;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    /* UI Properties */
    opacity: 1;
}

.city-info {
    display: flex;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif; /* Aquí puedes ajustar el valor de los márgenes */
    flex-direction: row;
    height: 110px;
}

.right-side-content{
    margin-left: 80px;
}

.Dpto{
    height: 50px;
    text-align: left;
    font: normal normal 200 40px/50px Readex Pro Deca;
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
    font-family: 'Saira Condensed', sans-serif;
    font-size: x-large;
}

.title-policy{
    /* UI Properties */
    text-align: left;
    font: normal normal 600 4.5vw/5.6vw Lexend Deca;
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
    margin: 0 2vw;
}

.policy-item{
    /* UI Properties */
    text-align: left;
    font: normal normal 300 2vw/3.7vw Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
    margin: 0 2vw;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 828px) {
    .menu_items, .social_media, .primary_button {
        display: none;
    }
    .blue_line_movil {
      height: 14px;
      width: 100%;
      background: #054965;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    header {
      position: relative;
      z-index: 1;
    }
  
    .menu{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    /* Estilos para la felcha de volver */
    .menu_icon {
      display: block;
      float: left;
      height: 100%;
    }
  
    .menu_icon ion-icon{
      font-size: 2.5rem;
    }
    
    /* Estilos para el logo */
    .logo img {
        display: block;
        width: 12rem; /* ajusta el tamaño según tus necesidades */
    }
  }

  @media only screen and (min-width: 750px) {
      /* Ocultar el icono de menú hamburguesa en la versión de escritorio */
    .menu_icon {
        display: none;
    }
    .title_sedes_m{
        display: none;
    }
    .blue_line_movil{
        display: none;
    }
  }

