* {
    font-family: 'Lexend Deca';
    color: #063C53;
}


/*         *********** PAGINA PRINCIPAL ***********         */
.whatsapp {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #22673A;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    border-radius: 50%;
    animation: blink 1s ease-in-out infinite;
  }

@keyframes blink {
    50% {
     opacity: 0.5;
    }
}
.whatsapp:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: #25d366;
}

.logo img {
    opacity: 1;
    max-width: 100%;
    height: auto;
    background-color: #E6ECEF;
  }


.social_media {
    color: #063C53;
    display: flex;
    justify-content: end;
    gap: 20px; /* ajusta el valor según el espacio que desees */
}

.social_media ion-icon {
    font-size: 2em;
  }
  

html {
    top: 0px;
    left: 0px;
    width: 2080px;
    height: 3526px;
    /* UI Properties */
    opacity: 1;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(230,236,239,1) 100%);
}

h1 {    
    /* UI Properties */
    text-align: left;
    font: normal normal bold 105px/150px Lexend Deca;
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
}

.h2{
    /* UI Properties */
    text-align: left;
    font: normal normal normal 20px/28px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
}


p {
    font-size: 2rem;
}

.menu {
    
    display: grid;
    grid-template-columns: 12vw 60vw 8vw 10vw;
    align-items: center;
    justify-content: left;
    opacity: 1;
}


.menu_items {
    list-style-type: none;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}   

.shaded{
    opacity: 0.47;
}

.main_content {

    /* UI Properties */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    align-items: center;
}
.slider_image{
    width: auto;
    background: transparent url('img/1.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: darken;
    opacity: 1;
    position: relative;
}

.slider_image img {
    height: 700px;
    position: absolute;
    left: -20%;
    z-index: -1;
}

.left_arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #FAFAFA;
    top: 505px;
    left: 17px;
    width: 71px;
    height: 96px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
}

.right_arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #FAFAFA;
    top: 505px;
    left: 17px;
    width: 71px;
    height: 96px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
}

.slider_content {
    background-color: #FAFAFA;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: 1fr 4fr; /* Cambiado de "repeat(2, 1fr)" a "1fr 4fr" */
    padding: 1rem 4rem;
    box-sizing: border-box;
    position: relative;
}

.slider_content {
    background-color: #FAFAFA;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: 40% 60%; /* establecemos una relación de 20-80 entre la descripción y la imagen */
    padding: 2rem 4rem;
    box-sizing: border-box;
    position: relative;
}

.slider_description {
    overflow: hidden;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr; /* establecemos una sola columna para la descripción */
}

.slider_title {
    margin-top: -100px;
    width: fit-content;
}

.primary_button{
    color: #FAFAFA;
    margin: 1rem 3rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: fit-content;
    height: fit-content;
    /* UI Properties */
    border: none;
    background: transparent linear-gradient(97deg, #156588 0%, #22673A 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #88D0DA96;
    border-radius: 34px;
    opacity: 1;
}

.line_gradient{
    display: contents;
    justify-items: end;
    position: relative;
    top: -5rem;
}

.line_gradient_separation {
    width: 68px;
    height: 5px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: transparent linear-gradient(295deg, #056CD800 0%, #056CD8 15%, #43A09A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 19px #2287F1;
    opacity: 1;
}

.servicios_description{
    max-width: 500px;    
    overflow: hidden;
    list-style-type: none;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 25px/31px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
}

.advantages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
    justify-content: center; 
    width: 1920px;
}
.advantages h2,
.advantages h3 {
  color: white;
}
  
.group {
    font-size: small;
    flex-basis: 18%;
    text-align: center;
    font-size: 17px;
}

.group-inverted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    height: 100px; /* ajusta la altura según el contenido */
    opacity: 1;
}

/*         *********** PAGINA DE TURISMO ***********         */

.parragraph-tourism{
    top: 424px;
    left: 144px;
    width: 587px;
    height: 266px;
    text-align: left;
    font: normal normal 300 30px/38px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
}

/*         *********** PAGINA NOSOTROS ***********         */

.zones{
    font-size: x-large;
}

/*Madgalena medio*/

.zoneBox1{
    /* Layout Properties */
    width: 1925px;
    height: 773px;
    /* UI Properties */
    opacity: 1;
}

.zoneContent{
    /* Layout Properties */
    width: 1699px;
    height: auto;
    /* UI Properties */
    opacity: 1;
    overflow: scroll;
}


.zoneTitle{
    background: #b0b6b95d 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 1900px;
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.location-icon{
    width: 37px;
    height: 35px;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    /* UI Properties */
    opacity: 1;
}

.city-info {
    display: flex;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif; /* Aquí puedes ajustar el valor de los márgenes */
    flex-direction: row;
    height: 110px;
}

.left-side{
    float: left;
}

.right-side{
    float: right;
}

.Dpto{
    height: 50px;
    text-align: left;
    font: normal normal 200 40px/50px Readex Pro Deca;
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
    font-family: 'Saira Condensed', sans-serif;
    font-size: x-large;
}

.title-policy{
    width: 360px;
    height: 50px;

    /* UI Properties */

    text-align: left;
    font: normal normal 600 40px/50px Lexend Deca;
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
}

.policy-item{
    width: auto;
    height: 5px;
    text-align: left;
    font: normal normal 300 25px/31px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
}