* {
    font-family: 'Lexend Deca';
    color: #063C53;
}

/*         *********** PAGINA PRINCIPAL ***********         */


.ventajas{
    max-width: 100%;
}

.clientes{
    max-width: 100%;
}

.informacion{
    max-width: 100%;
}

.legalidad{
    max-width: 100%;
    overflow: hidden;
    padding: 50px 0;
}

.sedes_nacionales{
    max-width: 100%;
}

.whatsapp {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #22673A;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    border-radius: 50%;
    animation: blink 2s ease-in-out infinite;
  }

@keyframes blink {
    50% {
     opacity: 0.5;
    }
}
.whatsapp:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: #25d366;
}

.whatsapp:hover::before {
    content: "Charlar con un asesor";
    transform: translateY(20px);
    position: absolute;
    left: -11rem; /* Ajusta el valor según sea necesario para la posición deseada */
    top: 0;
    width: 150px; /* Ajusta el ancho según sea necesario */
    background-color: #063C53;/* Ajusta el color de fondo según sea necesario */
    color: #FFFFFF; /* Ajusta el color del texto según sea necesario */
    padding: 5px;
    border-radius: 30px;
    font-size: 14px; /* Ajusta el tamaño de fuente según sea necesario */
}

.logo img {
    opacity: 1;
    max-width: 100%;
    height: 90px;
    background-color: #FFFFFF
  }


.social_media {
    color: #063C53;
    display: flex;
    justify-content: end;
    gap: 20px; /* ajusta el valor según el espacio que desees */
}

.social_media ion-icon {
    font-size: 2em;
  }
  

html {
    max-width: 100%;
    height: auto;
    background: transparent linear-gradient(247deg, #E6ECEF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.title_service {    
    /* UI Properties */
    font-size: 4.8rem;
    font-weight: 900;
    text-align: left;
    /*font: normal normal bold 105px/150px Lexend Deca;*/
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
}

p {
    font-size: 2rem;
}

.menu {
    display: grid;
    grid-template-columns: 12vw 60vw 8vw 10vw;
    align-items: center;
    justify-content: left;
    opacity: 1;
}


.menu_items {
    list-style-type: none;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-decoration: none;
}   

.menu_items li a{
    text-decoration: none;
}
.shaded{
    opacity: 0.47;
}
  
.main_content {
    /* UI Properties */
    opacity: 1;
    display: grid;
    grid-template-columns: 5vw 90vw 0vw;
    align-items: center;
}

.text_service{
    text-align: left;
    font: normal normal 300 2rem/23px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
}

.slider_image{
    max-height: 50%;
    width: auto;
    background: transparent url('img/1.png') 0% 0% no-repeat padding-box;
    mix-blend-mode: darken;
    position: relative;
}

.slider_image img{
    overflow: hidden;
}

.slider_img {
    height: 35rem;
    width: 100%;
    position: relative;
    z-index: -1;
}

.left_arrow{
        /* UI Properties */
    border: 5px solid #E6F1E9;
    color: #E6F1E9;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 71px;
    height: 96px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
}

.right_arrow{
    border: 5px solid #E6F1E9;
    color: #E6F1E9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 71px;
    height: 96px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
}

.slider_content {
    background-color: #FAFAFA;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: 40% 60%; 
    padding: 1.8rem 4rem;
    box-sizing: border-box;
    position: relative;
    height: 700px; /* ESTILO A CAMBIAR DEPENDIENDO DE LA PANTALLA*/
}

.slider_content_app {
    background-color: #FAFAFA;
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.16);
    display: grid;
    grid-template-columns: 70% 30%; 
    padding: 1.8rem 4rem;
    box-sizing: border-box;
    position: relative;
    height: auto; /* ESTILO A CAMBIAR DEPENDIENDO DE LA PANTALLA*/
}

.slider_description {
    padding: 0%;
    overflow: hidden;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr; /* establecemos una sola columna para la descripción */
    position: relative;
    z-index: 1;
}

.slider_title {
    margin-top: -80px;
    width: fit-content;
}

.primary_button{
    color: #FAFAFA;
    margin: 1rem 3rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: fit-content;
    height: fit-content;
    /* UI Properties */
    border: none;
    background: transparent linear-gradient(97deg, #156588 0%, #22673A 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #88D0DA96;
    border-radius: 34px;
    opacity: 1;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.primary_button:hover{
    background: transparent linear-gradient(97deg, #2966b1 0%, #174517 100%) 0% 0% no-repeat padding-box;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 15px #32CD3296;
}


.line_gradient{
    display: contents;
    justify-items: end;
    position: relative;
    top: -5rem;
}

.line_gradient_separation {
    width: 68px;
    height: 5px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: transparent linear-gradient(295deg, #056CD800 0%, #056CD8 15%, #43A09A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 19px #2287F1;
    opacity: 1;
}

.servicios_description{
    max-width: 500px;    
    overflow: hidden;
    list-style-type: none;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 25px/31px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
}

.servicios_description{
    overflow: hidden;
    list-style-type: none;
    text-align: left;
    font: normal normal 300 25px/31px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
    text-indent: -20px;
}

.servicios_description li{
    font-size: 1.8rem;
    text-align: left;
    padding-bottom: 1rem;
    margin: 0;
}


.advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    background: #054965 0% 0% no-repeat padding-box;
  }
  
  .advantages_title{
    text-align: left;
    align-items: center;
    justify-content: center;
    font: normal normal 600 35px/20px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .advantages_subtitle{
    /* UI Properties */
    text-align: left;
    font: normal normal 300 25px/20px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .icon{
    color: #063C53;
    width: 49px;
    height: 2.2rem;
    opacity: 1;
    transform: translateX(-5rem);
}

  .group-inverted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    height: 100px; /* ajusta la altura según el contenido */
    opacity: 1;
  }
  
.nuestros_clientes{
    max-width: 100%;
}

.empresas-aliadas{
    max-width: 100%;
    height: 128px;
    /* UI Properties */
    opacity: 1;
}

.img-empresa{
    height: 104px; 
    width: 278px;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slide-container {
    display: flex;
    width: calc(1120px * 2); /* duplicar el ancho de las imágenes */
    animation: slide 40s linear infinite;
}

.slide {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1120px); /* mover el carrusel hacia la izquierda */
    }
    50.01% {
        transform: translateX(1120px); /* mover el carrusel hacia la derecha */
    }
    100% {
        transform: translateX(0);
    }
}


.informacion-de-interes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: auto;
    height: 400px;
    background: #134A26 0% 0% no-repeat padding-box;
}

.text-info-empresa{
    width: 478px;
    height: auto;
    text-align: left;
    font: normal normal 300 18px/28px Lexend Deca;
    letter-spacing: 0px;
    color: #F5F5F7;
    align-items: center;
}
.info_title{
    width: 229px;
    height: 23px;
    text-align: left;
    font: normal normal bold 18px/18px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF; 
}
.info-box{
    width: 177px;
    height: 23px;
    text-align: left;
    font: normal normal bold 18px/18px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.Nuestros_clientes p{
    text-align: left;
    font: normal normal bold 50px/63px Lexend Deca;
    letter-spacing: 0px;
    color: #063C53;
}
.Legality_seals {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.seal_img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
.Legality_seals img{
    mix-blend-mode: darken;
    opacity: 1;
    height: 100px;
}

.rights_reserved{
    text-align: center; 
    margin-bottom: 20px; 
    max-width: 100%;
    height: 63px;
    background: #054965 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_rights{
    text-align: center;
    font: normal normal medium 18px/28px Lexend Deca;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1; 
}

/*         *********** PAGINA DE TURISMO ***********         */

.parragraph-tourism{
    width: 400px;
    height: 266px;
    text-align: left;
    font: normal normal 300 30px/38px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
    opacity: 1;
    transform: translateY(-60px);
}

/*         *********** PAGINA NOSOTROS ***********         */


.nosotros_content_box{
    right: 50%;
}

.left-side{
    float: left;
}

.right-side{
    float: right;
}
.zones{
    font-size: x-large;
}

.zoneBox1{
    max-width: 100%;
    opacity: 1;
}

.zoneContent{
    height: auto;
    /* UI Properties */
    opacity: 1;
    overflow: scroll;
}

.unfold{
    font-size: 40px;
    transform: translateX(-30px);
}



.location-icon{
    width: 37px;
    height: 35px;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
    /* UI Properties */
    opacity: 1;
}

.city-info {
    display: flex;
    align-items: center;
    font-family: 'Saira Condensed', sans-serif; /* Aquí puedes ajustar el valor de los márgenes */
    flex-direction: row;
    height: 110px;
}

.right-side-content{
    margin-left: 80px;
}

.Dpto{
    height: 50px;
    text-align: left;
    font: normal normal 200 40px/50px Readex Pro Deca;
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
    font-family: 'Saira Condensed', sans-serif;
    font-size: x-large;
}

.title-policy{
    /* UI Properties */
    text-align: left;
    font: normal normal 600 4.5vw/5.6vw Lexend Deca;
    letter-spacing: 0px;
    color: #063C53;
    opacity: 1;
    margin: 0 2vw;
}

.policy-item{
    /* UI Properties */
    text-align: left;
    font: normal normal 300 18px/23px Lexend Deca;
    letter-spacing: 0px;
    color: #105471;
}
/* PAGINA APPS Y TECNOLOGIA */

.slider_title_app{
    display: flex;
    align-items: center;
    width: 753px;
    height: 8rem;
    /* UI Properties */
    background: #054965 0% 0% no-repeat padding-box;
    text-align: center;
}
.slider_title_app p{
    color: #FFFFFF;
    letter-spacing: 0px;
    font: normal normal bold 5rem/150px Lexend Deca;
    text-align: left;
}

.text_p_app{
    text-align: left;
    letter-spacing: 0px;
    color: #105471;
}

.playStore {
    display: flex;
    height: 4rem;
    padding: 20px;
}

.playStore_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    height: 5rem;
    background: #054965;
}

.playStore_descargala {
    display: flex;
    align-items: center;
    max-width: 328px;
    width: 17rem;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 3px 20px #00000029;
    padding: 10px;
    border-radius: 3%;
}

.playStore_descargala p {
    width: auto;
    font-size: 16px;
    margin: 0;
    text-align: center;
}


.rastreo_digital {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent linear-gradient(127deg, #105471 0%, #246A88 100%) 0% 0% no-repeat padding-box;
}

.rastreo_left_content {
width: 100%;
text-align: center;
background: transparent url('/Sellos/Satelite.png') 0% 0% no-repeat padding-box;
mix-blend-mode: luminosity;
grid-column: 1 / 2;
background-position: -18rem 0;
}

.rastreo_left_content p {
color: #FFFFFF;
font: normal normal bold 60px/75px Lexend Deca;
letter-spacing: 0px;
}

.rastreo_right_content {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
box-sizing: border-box;
}

.rastreo_right_content p {
text-align: center;
font: normal normal 300 24px/30px Lexend Deca;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 828px) {
    .menu_items, .social_media, .primary_button {
        display: none;
    }
    .blue_line_movil {
      height: 14px;
      width: 100%;
      background: #054965;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    header {
      position: relative;
      z-index: 1;
      padding-bottom: 1rem;
    }
  
    .menu{   
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    /* Estilos para la felcha de volver */
    .menu_icon {
      display: block;
      float: left;
      height: 100%;
    }
  
    .menu_icon ion-icon{
      font-size: 2.5rem;
    }

    .back_icon{
        transform: translateX(4rem);
    }

    /*               INDEX                 */

    .logo img {
        transform: translateX(-1rem);
        display: block;
        max-width: 110%; /* ajusta el tamaño según tus necesidades */
        background: transparent url('img/Imagen 1.png') 0% 0% no-repeat padding-box;
        mix-blend-mode: darken;
    }

    .main_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slider_wrapper{
        padding-left: 1rem;
    }
    .slider_title{
        height: 0%;
        padding: 0%;
        margin: 0%;
    }

    .slider_description{
        transform: translateY(-2rem);
    }

    .slider_content{
        height: 15rem;
        display: grid;
        grid-template-columns: 70% 30%; 
        width: 100%;
        padding: 0%;
        overflow: hidden;
    }

    .slider_content_saberMas{
        height: auto;
        display: grid;
        width: 100%;
        padding: 0%;
        overflow: hidden;
    }

    .text_service_m{
        padding: 0%;
        height: 0%;
        text-align: left;
        font: normal normal 300 1.5rem/23px Lexend Deca;
        letter-spacing: 0px;
        color: #105471;
        opacity: 1;
    }

    .title_service{
        font-size: 1.5rem;
        text-align: left;
        font: normal normal bold 2rem/20px Lexend Deca;
        letter-spacing: 0px;
        color: #063C53;
        opacity: 1;
    }

    .title_service_m{
        font-size: 1.5rem;
        text-align: left;
        font: normal normal bold 3rem/23px Lexend Deca;
        letter-spacing: 0px;
        color: #063C53;
        opacity: 1;
    }

    .slider_image{
        transform: translateY(2rem);
    }

    .slider_image_saberMas{
        padding-top: 4rem;
        padding-bottom: 2rem;
        height: 2rem;
        max-width: 100%;
        transform: translateY(-7rem);
    }

    .slider_image_saberMas img {
        height: 12rem;
        width: 80%;
        transform: translateX(3rem);
    }

    .slider_image img{
        transform: translateX(-7rem);
    }

    .parragraph-tourism_m{
        text-align: left;
        font: normal normal 300 1.5rem/23px Lexend Deca;
        letter-spacing: 0px;
        color: #105471;
        opacity: 1;
    }

    .contact_button{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .button_m{
        color: #FAFAFA;
        margin: 1rem 3rem;
        box-sizing: border-box;
        font-size: 2rem;
        padding: 1rem 2rem;
        width: fit-content;
        height: fit-content;
        /* UI Properties */
        border: none;
        background: transparent linear-gradient(97deg, #156588 0%, #22673A 100%) 0% 0% no-repeat padding-box;
        box-shadow: inset 3px 3px 6px #88D0DA96;
        border-radius: 34px;
        text-decoration: none;
    }
    
    .title_description_service h2{
        display: none;
    }

    .primary_button_m{
        text-decoration: none;
        color: #FFFFFF;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: bolder;
    }

    .saber_mas_button{
        background: transparent linear-gradient(97deg, #156588 0%, #22673A 100%) 0% 0% no-repeat padding-box;
        box-shadow: inset 3px 3px 6px #88D0DA96;
        border-radius: 34px;
        width: 10rem;
        height: 3.5rem;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        transform: translateY(1rem)
    }

    .main_content_m{
        width: 100%;
        padding: 0%;
        margin: 0%;
        background-color: #FFFFFF;
        display: grid;
    }

    .titulo_app{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo_app p{
        align-items: center;
        text-align: left;
        font: normal normal bold 25px/31px Lexend Deca;
        letter-spacing: 0px;
        background: #054965 0% 0% no-repeat padding-box;
        height: 2rem;
        color: #FFFFFF;
        display: flex;
    }

    .parrafo_app{
        text-align: center;
    }

    .parrafo_app p{
        font-size: 1.5rem;
        letter-spacing: 0px;
        color: #105471;
        text-align: left;
    }

    .imagen_app{
        max-width: 100%;
        overflow: hidden;
    }

    .imagen_app img{
        height: 30rem;
        width: 150%;
        transform: translateX(-6rem);

    }
    .slider_img{
        display: none;
    }
    .imagen_movil{
        height: 12rem;
        transform: translateX(-2.7rem);
    }

    .servicios_description li{
        font-size: 1.5rem;
    }
    /*PAGINA VISION Y MISION*/
    .social-responsability h2{
        padding-left: 1rem;
        font-size: 2rem;
        max-width: 100%;
    }
    .title-policy{
        font-size: 2rem;
        padding-bottom: 2rem;
    }
    .policy-item{
        font-size: 1.5rem;
        padding-bottom: 2rem;
        height: 3rem;
        margin: 0%;
    }

    .main_content_nosotros_m{
        display: grid;
    }
    .zoneTitle_m{
        height: 5rem;
        max-width: 100%;
        background: #d0d9dd5d 0% 0% no-repeat padding-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .zoneTitle_m h3{
        padding-left: 1rem;
        font-size: 2rem;
    }
    .text_parragraph_m{
        font: normal normal 300 18px/23px Lexend Deca;
        letter-spacing: 0px;
        color: #105471;
        text-align:start;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        width: 95%;
        padding-left: 1rem;
    }

    .imagen_nosotros_m{
        max-width: 100%;
        display: flex;
        height: 16rem;
        justify-content: center;
    }
    .imagen_nosotros_m img{
        max-width: 100%;
        height: 15rem;
    }

    /*SEDES*/

    .right-side{
        transform: translateX(-2.4rem);
    }
    .ventajas{
        display: none;
    }

    .clientes{
        display: none;
    }

    .informacion{
        display: none;
    }

    .legalidad{
        display: none;
    }

    .derechos_reservados{
        display: none;
    }

    .contenido_principal{
        display: none;
    }

    .whatsapp:hover::before{
        display: none;
    }
  }

  @media only screen and (min-width: 750px) {
      /* Ocultar el icono de menú hamburguesa en la versión de escritorio */

    .menu_icon{
        display: none;
    }
    .back_icon{
        display: none;
    }
    .title_sedes_m{
        display: none;
    }
    .blue_line_movil{
        display: none;
    }
    .derechos_reservados_movil{
        display: none;
    }
    .imagen_movil{
        display: none;
    }
    .contenido_principal_movil{
        display: none;
    }
    .mapa_movil{
        display: none;
    }

    .Sede_content_m{
        display: none;
    }
    /*Pagina mision-vision*/
    .right-side{
        transform: translateX(-16rem);
    }
    /*Pagina sedes*/

    .sede{
        padding-left: 1rem;
    }
  }
  

